<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>MyServelt.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Storage</servlet-name>
        <servlet-class>MyServelt.Storage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>MyServelt.Login</servlet-class>
    </servlet>
    
      <servlet>
        <servlet-name>chatservlet</servlet-name>
        <servlet-class>MyServelt.Chatservlet</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>chatcon</servlet-name>
        <servlet-class>MyServelt.ChatCon</servlet-class>
    </servlet>
    
      <servlet-mapping>
        <servlet-name>chatservlet</servlet-name>
        <url-pattern>/Chatservlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>chatcon</servlet-name>
        <url-pattern>/Chatcon</url-pattern>
    </servlet-mapping>
  
      <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet-mapping>
        <servlet-name>Storage</servlet-name>
        <url-pattern>/Storage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
